.DS_Store
*.swp
.nodemonignore
npm-debug.log
.sass-cache/
.bower-*/
.idea/
nbproject/
node_modules/*
!node_modules/meanio/
bower_components/*
!bower_components/bootstrap-custom/
!bower_components/bootstrap/
!bower_components/openlayers/
mean.iml
test/coverage/
modules/public/
modules/views/
/public/build/
/nbproject/private/
